# Basico listas

In [4]:
planets = ['mercurio', 'venus', 'tierra', 'marte']
print(planets[3])
print(planets[1])
planets[2] = 'planeta azul'
print(planets[2])

num_plnets = len(planets)
print(num_plnets)
print('**************************')

planets.append('saturno')
print(planets)
#planets.pop()
#print(planets)
print(planets[-1])
print(planets[-2])

marte
venus
planeta azul
4
**************************
['mercurio', 'venus', 'planeta azul', 'marte', 'saturno']
saturno
marte

## indices

In [8]:
mars_index = planets.index('marte')
# se le aumenta uno al indice por que las listas son de indices con base 0
print('Marte es el planeta numero: ' + str(mars_index + 1))

Marte es el planeta numero: 4

## numeros en listas

In [10]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
bus_weight = 12650 # peso en kg en la tierra

print('En la tierra, un autobus doble pesa: ', bus_weight, ' kgs.')
print('En mercurio, un autobus doble pesa: ', (bus_weight * gravity_on_planets[0]), ' kgs.')
print('minima gravedad: ', min(gravity_on_planets))
print('maxima gravedad: ', max(gravity_on_planets))

En la tierra, un autobus doble pesa:  12650  kgs.
En mercurio, un autobus doble pesa:  4781.7  kgs.
minima gravedad:  0.378
maxima gravedad:  2.36

In [11]:
print('El peso mas ligero de un autobus doble en el sistema solar es: ', (bus_weight * min(gravity_on_planets)), ' kgs.')
print('El peso mas grande de un autobus doble en el sistema solar es: ', (bus_weight * max(gravity_on_planets)), ' kgs.')

El peso mas ligero de un autobus doble en el sistema solar es:  4781.7  kgs.
El peso mas grande de un autobus doble en el sistema solar es:  29854.0  kgs.

### Slicing

In [13]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planetas_antes_tierra = planets[0:2]
print(planetas_antes_tierra)
# si no se coloca un limite superior al slice, se asume que este sera el maximo o tope de la lista
planetas_despues_tierra = planets[3:]
print(planetas_despues_tierra)

['Mercurio', 'Venus']
['Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

### Unir listas

In [17]:
# se unenn dos listas con el operador +
grupo_amaltea = ['Metis', 'Adrastea', 'Amaltea', 'Teba']
grupo_galileo = ['Io', 'Europa', 'Ganimedes', 'Calisto']
print(grupo_amaltea)
print(grupo_galileo)
lunas_conocidas = grupo_amaltea + grupo_galileo
print('Las lunas mas conocidas de saturno son: ', lunas_conocidas)
lunas_conocidas.sort()
print(lunas_conocidas)
print('**************************')

lunas_conocidas.sort(reverse=True)
print(lunas_conocidas)

['Metis', 'Adrastea', 'Amaltea', 'Teba']
['Io', 'Europa', 'Ganimedes', 'Calisto']
Las lunas mas conocidas de saturno son:  ['Metis', 'Adrastea', 'Amaltea', 'Teba', 'Io', 'Europa', 'Ganimedes', 'Calisto']
['Adrastea', 'Amaltea', 'Calisto', 'Europa', 'Ganimedes', 'Io', 'Metis', 'Teba']
**************************
['Teba', 'Metis', 'Io', 'Ganimedes', 'Europa', 'Calisto', 'Amaltea', 'Adrastea']